{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="{% static 'img/picture1.jpg' %}" alt="Bike Station Margo City" style="width:100%;">
        <div class="carousel-caption">
          <h3>Bike Station Margo City</h3>
          <p>Bikes are ready, what are you waiting for?</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'img/picture2.jpg' %}" alt="Renting Bike" style="width:100%;">
        <div class="carousel-caption">
          <h3>Renting Bike</h3>
          <p>Keep doing so!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="{% static 'img/picture3.jpg' %}" alt="Family Festival" style="width:100%;">
        <div class="carousel-caption">
          <h3>Family Festival</h3>
          <p>Come and join!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock %}