<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Bike<span>Sharing</span></h3>

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Donate</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">FAQ</a>
            ·
            <a href="#">Testimony</a>
        </p>

        <p class="footer-company-name">BikeSharing &copy; 2019</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Jalan Fasilkom</span> Depok, Jawa Barat</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1 1111111111</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">bikesharing@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>ABOUT US</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>