{% load static from staticfiles %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <a class="navbar-brand" href="{% url 'App_HomePage:index' %}"><img class="img-responsive" alt = "Logo BikeSharing" src= "{% static 'img/Logo BikeSharing.png' %}"/></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="{% url 'App_HomePage:index' %}">HOME</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">STATION <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'App_Stasiun:create' %}">Create Station</a></li>
              <li><a href="{% url 'App_Stasiun:stasiun' %}">Station List</a></li>
            </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BIKE <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'App_Sepeda:create' %}">Create Bike</a></li>
                <li><a href="{% url 'App_Sepeda:bike' %}">Bike List</a></li>
              </ul>
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> EVENT <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> VOUCHER <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'App_Voucher:addvoucher' %}">Add Voucher</a></li>
                <li><a href="{% url 'App_Voucher:voucher' %}">List Voucher</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> PEMINJAMAN <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'App_Voucher:createpeminjaman' %}">Buat Peminjaman</a></li>
                <li><a href="{% url 'App_Voucher:peminjaman' %}">List Peminjaman</a></li>
              </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="far fa-user-circle"></i> USER <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li><a href="{% url 'login_page:index' %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                <li><a href="{% url 'regist_page:index' %}"><span class="glyphicon glyphicon-user"></span>  Register</a></li>
                </li>
                {% else %}
                  <li><a href="{% url 'login_page:index' %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                  <li><a href="{% url 'regist_page:index' %}"><span class="glyphicon glyphicon-user"></span>  Register</a></li>
                {% endif %}
              </ul>
            </li>  
        </ul>
  
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>