{% extends "base.html" %}
{% load static from staticfiles %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'vstyles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src = "{% static 'mdb/js/mdb.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'paginationscripts.js' %}" type = "text/javascript"></script>




    <h1 class="text-center tabelgan">Report List</h1>
    <table class="table" id="dtBasicExample">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Report ID</th>
                <th scope="col">Borrowing Date Time</th>
                <th scope="col">Member ID</th>
                <th scope="col">Penalty</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
            {% for item in items %}
              <tr>             
                <td>{{ forloop.counter }}</td>
                <td>{{ item.reportID }}</td>
                <td>{{ item.datetime }}</td>
                <td>{{ item.memberID }}</td>
                <td>{{ item.denda }}</td>
                <td>{{ item.status }}</td>
              </tr>
            {% endfor %}
        <tbody>

        </tbody>
    </table>

    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-5">
      <ul class="pagination">
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
      </ul>
    </div>
    <div class="form-group col-md-2"></div>
  </div>
{% endblock %}