{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login to see more feature!</div>

                <div class="panel-body" cf-context>
                    <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">E-mail</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your E-mail">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">ID Number</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your ID Number">
                          </div>
                        </div>
                        <div class="form-group col-md-12"> </div>
                        <div class="form-group col-md-12"> </div>
                        <div class="form-group col-md-5"></div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="form-group col-md-3"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 

{% endblock %}