{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>My Transaction History</h2>
    <br>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>No.</th>
            <th>Date Time</th>
            <th>Type</th>
            <th>Nominal</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
            <tr scope = "row">
                <td>{{ forloop.counter }}</td>
                <td>{{ item.datetime }}</td>
                <td>{{ item.jenis }}</td>
                <td>{{ item.nominal }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}