{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'vstyles.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src = "{% static 'mdb/js/mdb.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'paginationscripts.js' %}" type = "text/javascript"></script>

    <h1 class="text-center tabelgan">Daftar Sepeda</h1>
    <table class="table" id="dtBasicExample">
        <thead>
            <tr>
                <th scope="col">Nomor Kartu Anggota</th>
                <th scope="col">Sepeda</th>
                <th scope="col">Stasiun</th>
                <th scope="col">Waktu Kembali</th>
                <th scope="col">Biaya</th>
                <th scope="col">Denda</th>
                <th scope="col">Action [Anggota]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">13u78q</th>
                <td>11244-BMX</td>
                <td>637-Stasiun X</td>
                <td>Stasiun Basdat Depok 1</td>
                <td>-</td>
                <td>-</td>
                <td><a href="{% url 'transaction_page:list_transaction' %}"><button type="button" class="btn btn-primary tombolgan">Kembalikan</button></a><br>
            </tr>
            <tr>
                <th scope="row">13u78r</th>
                <td>11244-BMY</td>
                <td>637-Stasiun Y</td>
                <td>Stasiun Basdat Depok 2</td>
                <td>-</td>
                <td>-</td>
                <td><a href="{% url 'transaction_page:list_transaction' %}"><button type="button" class="btn btn-primary tombolgan">Kembalikan</button></a><br>
            </tr>
        </tbody>
    </table>
{% endblock %}