{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'vstyles.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src = "{% static 'mdb/js/mdb.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'paginationscripts.js' %}" type = "text/javascript"></script>

    <h1 class="text-center tabelgan">Daftar Voucher</h1>
    <table class="table" id="dtBasicExample">
        <thead>
            <tr>
                <th scope="col">ID Voucher</th>
                <th scope="col">Nama</th>
                <th scope="col">Kategori</th>
                <th scope="col">Nilai Poin</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Diklaim oleh</th>
                <th scope="col">Action [Admin]</th>
                <th scope="col">Action [Anggota]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1111q</th>
                <td>Voucher Belanja</td>
                <td>Belanja</td>
                <td>300</td>
                <td>Gratis Belanja</td>
                <td>-</td>
                <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah anda yakin ingin menghapus voucher ini?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ya</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                                </div>
                                </div>
                            </div>
                            </div>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Pemberitahuan</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Selamat ! Voucher ini telah anda klaim dan menjadi milik anda !
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                </div>
                                </div>
                            </div>
                            </div>
                </td>
            </tr>
            <tr>
                <th scope="row">95675</th>
                <td>Voucher Makan</td>
                <td>Makan</td>
                <td>100</td>
                <td>Makan Gratis</td>
                <td>1w44-<br>Nunung</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                    <th scope="row">1111r</th>
                    <td>Voucher Belanja</td>
                    <td>Belanja</td>
                    <td>300</td>
                    <td>Gratis Belanja</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">1112q</th>
                    <td>Voucher Belanja</td>
                    <td>Belanja</td>
                    <td>300</td>
                    <td>Gratis Belanja</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">1121q</th>
                    <td>Voucher Belanja</td>
                    <td>Belanja</td>
                    <td>300</td>
                    <td>Gratis Belanja</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">1211q</th>
                    <td>Voucher Belanja</td>
                    <td>Belanja</td>
                    <td>300</td>
                    <td>Gratis Belanja</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">2111q</th>
                    <td>Voucher Belanja</td>
                    <td>Belanja</td>
                    <td>300</td>
                    <td>Gratis Belanja</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">xfhdfda</th>
                    <td>Voucher Makan</td>
                    <td>Makan</td>
                    <td>300</td>
                    <td>Makan Gratis</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">xfhda</th>
                    <td>Voucher Makan</td>
                    <td>Makan</td>
                    <td>300</td>
                    <td>Makan Gratis</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">hdfda</th>
                    <td>Voucher Makan</td>
                    <td>Makan</td>
                    <td>300</td>
                    <td>Makan Gratis</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
            <tr>
                    <th scope="row">xfhdwea</th>
                    <td>Voucher Makan</td>
                    <td>Makan</td>
                    <td>300</td>
                    <td>Makan Gratis</td>
                    <td>-</td>
                    <td><a href="{% url 'App_Voucher:updatevoucher' %}"><button type="button" class="btn btn-primary tombolgan">Update</button></a><br>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Klaim</button>
                    </td>
            </tr>
        </tbody>
    </table>
{% endblock %}