{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<h1>FORM PENAMBAHAN PENUGASAN</h1>

<br>

<form method="POST" style="text-align: center;">
    {% csrf_token %}
    {{ form|crispy }}
  	<div style="text-align: center;">
  		<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
</form>

{% endblock %}