{% extends 'base.html' %}
{% load static from staticfiles %}

{% load static %}
{% block content %}

<div class="container">
    <h2>Daftar Penugasan</h2>
    <br>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Petugas</th>
            <th>Tangal mulai</th>
            <th>Tanggal selesai</th>
            <th>Stasiun</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="form-group col-md-4"></div>
    <div class="form-group col-md-5">
      <ul class="pagination">
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
      </ul>
    </div>
    <div class="form-group col-md-2"></div>
  </div>

<a class="btn btn-primary" href="{% url 'penugasan_add' %}">Tambahkan penugasan baru</a>

{% endblock %}