{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Let's get started!</div>

                <div class="panel-body" cf-context>
                    <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Full Name</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your full name">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">ID Number</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Enter your ID Number">
                          </div>
                        </div>
                        <div class="form-group col-md-12">
                          <label for="inputAddress">E-mail</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="Enter your e-mail">
                        </div>
                        <div class="form-group col-md-12">
                          <label for="inputAddress2">Address</label>
                          <input type="text" class="form-control" id="inputAddress2" placeholder="1234 Main St">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="inputCity">Phone Number</label>
                            <input type="text" placeholder="Enter your phone number" class="form-control" id="inputCity">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">Role</label>
                            <select id="inputState" class="form-control">
                              <option selected>Member</option>
                              <option>Admin</option>
                              <option>Officer</option>
                            </select>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputZip">Birth Date</label>
                            <input type="text" class="form-control" id="inputZip">
                          </div>
                        </div>
                        <div class="form-group col-md-12"> </div>
                        <div class="form-group col-md-12"> </div>
                        <div class="form-group col-md-5"></div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <div class="form-group col-md-3"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}