.container-fluid{
    background-color: #A8DB8C;
}

#Logo{
    width: 80px;
    height: 80px;
    position: relative;
}

.nav .navbar-nav {
    display: inline-block;
    text-align: center;
}

.nav .navbar-nav .active {
    background-color: grey;
    color: white;
  }