{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'vstyles.css' %}">
    <h1 class="text-center tabelgan">Form Update Stasiun</h1>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
{% endblock %}