{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'vstyles.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- MDB core JavaScript -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src = "{% static 'mdb/js/mdb.min.js' %}" type = "text/javascript"></script>
    <link rel = "stylesheet" href = "{% static 'mdb/css/addons/datatables.min.css' %}">
    <script src = "{% static 'mdb/js/addons/datatables.min.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'paginationscripts.js' %}" type = "text/javascript"></script>




    <h1 class="text-center tabelgan">Daftar Sepeda</h1>
    <table class="table" id="dtBasicExample">
        <thead>
            <tr>
                <th scope="col">Nomor</th>
                <th scope="col">Merek</th>
                <th scope="col">Jenis</th>
                <th scope="col">Stasiun</th>
                <th scope="col">Status</th>
                <th scope="col">Penyumbang</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
            <tr>
                <td scope="col">13u78q</td>
                <td scope="col">BMX</td>
                <td scope="col">Dewasa</td>
                <td scope="col">Stasiun Basdat Depok 1</td>
                <td scope="col">Tersedia</td>
                <td scope="col">-</td>
                <td scope="col">
                    <a href="{% url 'App_Sepeda:update' %}" class="btn btn-primary">Update</a>
                    
                    <a href="#" class="btn btn-primary">Delete</a>
                </td>
                <td scope="col"><a href="#" class="btn btn-primary">Pinjam</a></td>
            </tr>
        <tbody>

        </tbody>
    </table>
{% endblock %}