.tabelgan{
    margin-bottom: 10vh;
}
.fields{
    min-width: 100%;
    margin-bottom: 5vh;
    padding: 10px;
    border-radius: 20px;
    border : 2px solid #e0e0eb;
}
.pleir{
    display: flex;
}
h4{
    margin-right: 2vw;
}
form{
    margin: auto 0;
}
input{
    margin-left: 2vw;
}
.tombolgan{
    margin-bottom: 10px;
}